@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

h1 {
  font-family: "Press Start 2P", system-ui, sans-serif;
  display: flex;
  margin: 1.5rem 0rem;
  justify-content: center;
}

body {
  font-family: "VT323", system-ui;
}
