.colour-div-default {
  /* default colours */
  --colour-div-bg: #404040;
  /* textcolours to be defined:
    --colour-div-text */

  background-color: var(--colour-div-bg);
  gap: 0.5rem;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.colour-div-default p {
  color: var(--colour-div-text, #ffffff);
}

.colour-div-default button {
  background-color: #4f5481;
  color: #ffffff;
}

.div-btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
