.name-and-specs {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  gap: 1rem;
}

.name-and-specs-middle {
  box-sizing: border-box;
  text-align: center;
  overflow: hidden;
}

.name-and-specs-middle img {
  width: 100%;
  max-width: 100%;
  height: auto; /* to preserve aspect ratio */
  margin: 1rem auto;
}

.colour-analysis-default-scheme {
  padding: 1rem;

  /* default colours */
  --colour-bg: #404040;
  --colour-title: #ffffff;
  --colour-btn: #4f5481;
  --colour-article: #5b5959;
  --colour-article-btn: #585e92;
  /* textcolours to be defined:
  --colour-text 
  --colour-btn-text 
  --colour-article-text 
  --colour-article-btn-text */

  background-color: var(--colour-bg);
}

.colour-analysis-default-scheme h1,
.colour-analysis-default-scheme h2,
.colour-analysis-default-scheme h3,
.colour-analysis-default-scheme h4,
.colour-analysis-default-scheme h5,
.colour-analysis-default-scheme h6 {
  color: var(--colour-title);
}

.colour-analysis-default-scheme p {
  color: var(--colour-text, #ffffff);
}

.colour-analysis-default-scheme button {
  background-color: var(--colour-btn);
  color: var(--colour-btn-text, #ffffff);
}

.colour-analysis-default-scheme article {
  background-color: var(--colour-article);
  color: var(--colour-article-text, #ffffff);
}

.colour-analysis-default-scheme article h1,
.colour-analysis-default-scheme article h2,
.colour-analysis-default-scheme article h3,
.colour-analysis-default-scheme article h4,
.colour-analysis-default-scheme article h5,
.colour-analysis-default-scheme article h6 {
  color: var(--colour-article-text, #ffffff);
}

.colour-analysis-default-scheme article button {
  background-color: var(--colour-article-btn);
  color: var(--colour-article-btn-text, #ffffff);
}
